/* @import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
.App {
  /* font-family: 'Nanum Myeongjo', serif; */
  font-family: 'Nanum Gothic', sans-serif;
  height: 100%;
}
